.is_no-transition {
  transition: none !important; }

nobr {
  white-space: nowrap; }

.row {
  margin-left: -1em;
  margin-right: -1em;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

@font-face {
  font-family: 'stem';
  src: url("../fonts/STM45__W.eot");
  src: url("../fonts/STM45__W.eot?#iefix") format("embedded-opentype"), url("../fonts/STM45__W.woff2") format("woff2"), url("../fonts/STM45__W.woff") format("woff"), url("../fonts/STM45__W.ttf") format("truetype"), url("../fonts/STM45__W.svg#StemWeb-Light") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'stem';
  src: url("../fonts/STM55__W.eot");
  src: url("../fonts/STM55__W.eot?#iefix") format("embedded-opentype"), url("../fonts/STM55__W.woff2") format("woff2"), url("../fonts/STM55__W.woff") format("woff"), url("../fonts/STM55__W.ttf") format("truetype"), url("../fonts/STM55__W.svg#StemWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'stem';
  src: url("../fonts/STM65__W.eot");
  src: url("../fonts/STM65__W.eot?#iefix") format("embedded-opentype"), url("../fonts/STM65__W.woff2") format("woff2"), url("../fonts/STM65__W.woff") format("woff"), url("../fonts/STM65__W.ttf") format("truetype"), url("../fonts/STM65__W.svg#StemWeb-Medium") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'stem';
  src: url("../fonts/STM75__W.eot");
  src: url("../fonts/STM75__W.eot?#iefix") format("embedded-opentype"), url("../fonts/STM75__W.woff2") format("woff2"), url("../fonts/STM75__W.woff") format("woff"), url("../fonts/STM75__W.ttf") format("truetype"), url("../fonts/STM75__W.svg#StemWeb-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0; }

html {
  font-size: 16px; }
  @media only screen and (min-width: 1920px) {
    html {
      font-size: 0.8333333333vw; } }
  @media only screen and (max-width: 850px) {
    html {
      font-size: 1.8823529412vw; } }

body {
  font-family: sans-serif;
  line-height: 1.3;
  color: #333333;
  position: relative; }

::selection {
  background: #ffcd00; }

.is_no-transition {
  transition: none !important; }

.is_active {
  color: #004737;
  border-bottom: 2px solid #004737; }

a.btn {
  cursor: pointer;
  text-align: center;
  position: absolute;
  font-weight: 900; }

.header {
  position: absolute;
  display: flex;
  min-height: 5em; }
  .header__logo {
    position: absolute;
    left: 25.5em;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 900;
    width: max-content; }
  .header__switch-button {
    cursor: pointer;
    position: absolute;
    right: -74em;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 900; }

.author {
  display: flex;
  justify-content: center; }
  .author__post, .author__name {
    width: 100%;
    max-width: 50%;
    margin: 0.5em; }
  .author__post {
    font-weight: bold;
    text-align: right; }
  .author__name {
    text-align: left; }

.logo {
  width: 6.5625em;
  min-height: 3.125em;
  background-image: url(../images/petric.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  transition: height 0.2s ease-in-out; }
  .footer .logo {
    width: 5em;
    min-height: 3.125em; }

.container {
  position: relative;
  max-width: 58.75em;
  margin: auto;
  box-sizing: border-box;
  width: 100%; }
  .container_small {
    max-width: 50em; }
  .container_first {
    font-size: 0.8333333333vw;
    margin-top: -23em;
    margin-bottom: 4.8em; }
    @media only screen and (max-width: 960px) {
      .container_first {
        margin-top: -46em; }
        .container_first .title {
          font-size: 5em; } }
  .container p {
    font-size: 1.3em; }
    @media only screen and (max-width: 960px) {
      .container p {
        margin: 0 1em;
        font-size: 1.8em; } }

.info {
  background: #D3D3D3;
  display: none;
  padding-top: 5em;
  padding-bottom: 2em; }
  .info_hidden {
    display: none; }
  .info_show {
    display: block; }
  .info__employees {
    display: flex;
    padding: 1em;
    justify-content: space-between; }
  .info__employee {
    margin: 1em 1em;
    width: 7em; }
  .info__about-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -1em; }

.stories {
  padding-top: 5em;
  padding-bottom: 2em; }
  .stories__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -0.3em; }
  .stories__sort-button {
    position: relative;
    color: #808080;
    font-size: 0.7em;
    font-weight: 800;
    text-align: right; }
  .stories__announce {
    position: relative;
    width: 100%;
    min-height: 12em;
    padding: 0.3em; }
    .stories__announce_medium {
      flex: 0 0 50%;
      max-width: 50%; }
    .stories__announce_small {
      flex: 0 0 35%;
      max-width: 35%; }
    .stories__announce_big {
      flex: 0 0 65%;
      max-width: 65%; }

.story-announce {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  width: auto;
  height: 100%; }
  .story-announce__type {
    position: absolute;
    margin: 0 1em;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: 800; }
  .story-announce__title {
    font-size: 0.8em;
    position: absolute;
    margin: 2.5em 1em; }
  .story-announce__black-effect {
    opacity: 0.3;
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%; }

.footer {
  display: block; }
  .footer__logo {
    cursor: pointer;
    display: inline-block;
    margin-top: 0.7em;
    margin-bottom: 1em;
    float: left;
    font-size: 0.8em;
    font-weight: 900; }
  .footer__copyright {
    cursor: pointer;
    display: inline-block;
    margin-top: 0.7em;
    margin-bottom: 1em;
    float: right;
    font-size: 0.8em;
    font-weight: 900; }

.employee {
  text-align: center; }
  .employee__name {
    font-size: 0.75em;
    font-weight: 600; }
  .employee__position {
    font-size: 0.7em; }
  .employee__photo {
    height: 10em;
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .employee__photo_1 {
      background-image: url(../images/team0.png); }
    .employee__photo_2 {
      background-image: url(../images/team1.png); }
    .employee__photo_3 {
      background-image: url(../images/team2.png); }
    .employee__photo_4 {
      background-image: url(../images/team3.png); }
    .employee__photo_5 {
      background-image: url(../images/team4.png); }
    .employee__photo_6 {
      background-image: url(../images/team5.png); }

.info-about {
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 0 1em; }
  .info-about__title {
    font-weight: bold; }

.social-nav {
  display: flex;
  justify-content: space-between;
  margin: 2em 0; }
  .social-nav_center {
    justify-content: center;
    margin: 0; }
  .social-nav__item {
    font-size: 0.8em;
    font-weight: 900;
    margin: 0.5em; }
    .social-nav__item_blue {
      color: blue; }
    .social-nav__item_aqua {
      color: aqua; }

.story {
  text-align: center;
  padding-top: 6em; }
  .story__button-prev {
    transform: rotate(270deg);
    left: 0;
    top: 5em; }
  .story__button-next {
    transform: rotate(90deg);
    right: 0;
    top: 5em; }
  .story__content_text {
    text-align: left;
    max-width: 50%;
    margin: auto; }
  .story__type {
    font-weight: 900; }
  .story__title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 1.2em; }
  .story__authors {
    margin: 2em 0; }

.story-content {
  vertical-align: middle;
  display: flex;
  justify-content: space-between; }
  .story-content__image {
    min-height: 10em;
    vertical-align: middle;
    background-image: url(../images/announce-1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    width: 100%; }
    .story__content_text-image .story-content__image {
      max-width: 50%; }
  .story-content__text {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    padding: 1em; }
    .story__content_text-image .story-content__text {
      max-width: 50%; }

.story-banner {
  margin: 1em auto; }
  .story-banner__image {
    min-height: 20em;
    background-image: url(../images/announce-1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white; }
  .story-banner__text {
    color: lightgray;
    font-size: 0.8em;
    text-align: right;
    font-weight: bold; }
