.avtomat{
  position: relative;
  margin: 2em auto;
  max-width: em(400px);


  &__grip{
    position: absolute;
    width: em(15px);
    height: em(70px);
    background: #c78037;
    border-radius: 3%;
    right:em(27px);
    top: 45%;
  }


  &__main{
    background-image: url("../images/avtomat/avtomat.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: em(400px);
    height: em(528px);

  }

  &__message{
    width: em(300px);
    height: em(68px);
    background: #ffffff;
    position: absolute;
    top:  em(145px);
    left:  em(40px);

    .bulb{
      width: em(20px);
      height: em(20px);
      border-radius: 50%;
      background: #ffff75;
      position: absolute;

      &_1{
        top: em(-10px);
        left: em(-10px);
      }
      &_2{
        top: em(-10px);
        right: em(-10px);
      }
      &_3{
        bottom: em(-10px);
        left: em(-10px);
      }
      &_4{
        bottom: em(-10px);
        right: em(-10px);
      }

      &_on{
        box-shadow: 0 0 20px 7px rgba(255, 255, 58, 1);
        border: 0 solid rgba(255, 255, 104, 0.11);
      }
    }
  }

  &__slots{
    width: em(280px);
    height: em(135px);
    background: #c78037;
    position: absolute;
    top:  em(242px);
    left:  em(52px);
  }


  &_bottom{


  }

}