.container {
  position: relative;
  max-width: em(940px);
  margin: auto;
  box-sizing: border-box;
  width:100%;
  left:0;
  right:0;

  &_small{
    max-width: 50em;
  }

  &_first {
    font-size: (16/1920*100vw);
    margin-top: -23em;
    margin-bottom: 4.8em;

    @include ifmobile{
      margin-top: -46em;
      .title{
        font-size: 5em;
      }
    }
  }

  p{
    font-size: 1.3em;
    @include ifmobile{
      margin: 0 1em;
      font-size: 1.8em;
    }
  }
}