.employee{
  text-align: center;


  &__name{
    font-size: 0.75em;
    font-weight: 600;
  }

  &__position{
    font-size: 0.7em;
  }

  &__photo{
    height: em(160px);
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &_1{
      background-image: url(../images/team0.png);
    }

    &_2{
      background-image: url(../images/team1.png);
    }

    &_3{
      background-image: url(../images/team2.png);
    }
    &_4{
      background-image: url(../images/team3.png);
    }
    &_5{
      background-image: url(../images/team4.png);
    }
    &_6{
      background-image: url(../images/team5.png);
    }
  }
}