.footer{
  display: block;

  &__logo{
    display: inline-block;
    margin-right: 4em;
    transition: height 0.2s ease-in-out;
  }

  &__copyright{
    display: inline-block;
    margin-top: 0.7em;
    float: right;
    font-size: 0.8em;
    font-weight: 900;

  }
}