.header{
  position: absolute;
  display: flex;
  min-height: 5em;

  &__logo{
    position: absolute;
    left: 25.5em;

    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 900;
    width: max-content;
  }

  &__switch-button {
    cursor: pointer;
    position: absolute;
    right: -74em;

    display: inline-block;
    font-size: 1.2em;
    font-weight: 900;

  }
}
