.header{
  position: absolute;
  min-height: 5em;
  width: 100%;


  &__logo{

    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.2em;
    font-weight: 900;
    width: max-content;
    margin-top: 1em;
  }

  &__switch-button {
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 1em;
  }
}
