.info{

  background: lightgray;
  display: none;
  margin-bottom: 2em;
  padding-top: 8em;


  &_hidden{
    display: none;
  }

  &_show{
    display: block;
  }

  &__employees{
    display: flex;
    padding: 1em;
    justify-content: center;
  }

  &__employee{
    margin: 1em 1.5em;
  }

  &__about-wrapper{
    display: flex;
    padding: 1em;

  }

  &__about{
    margin: 1em;
  }
}