.info{
  background: 	#D3D3D3;
  display: none;
  padding-top: 5em;
  padding-bottom: 2em;


  &_hidden{
    display: none;
  }

  &_show{
    display: block;
  }

  &__employees{
    display: flex;

    justify-content: space-between;
  }

  &__employee{

    width: 7em;
  }

  &__about-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 -1em;
  }


  &__about{

  }
}