.logo{
    width: em(105px);
    min-height: em(50px);
    background-image: url(../images/petric.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    transition: height 0.2s ease-in-out;

    @include ifparent(".footer"){
        width: em(80px);
        min-height: em(50px);
    }
}