.popup {
  transform: translateY(-5em);
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
  position: fixed;
  z-index:10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  &_isActive{
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  &__content{
    width: 100%;
    max-width: em(200px);
    margin: 3em auto;
    height: 45em;
    overflow-y: auto;
    padding: 1em;
    background:#E6E6FA;
    border-radius: 15px;

  }

  &__close{
    font-size: 1.5625em;
    cursor: pointer;
    line-height: 1;
    z-index: 2;
    text-align: right;

    &:before{
      content: "✕";
    }
  }


}