.social-nav{


  display: flex;
  padding: 1em;
  justify-content: center;

  &__item{
    margin: 1em;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 900;


    &_blue{
      color: blue;
    }
    &_aqua{
      color: aqua;
    }
  }
}