.social-nav{
  display: flex;
  justify-content: space-between;
  margin: 2em 0;

  &_center{
    justify-content: center;
    margin: 0;
  }

  &__item{
    font-size: 0.8em;
    font-weight: 900;
    margin: 0.5em;
    &_blue{
      color: blue;
    }
    &_aqua{
      color: aqua;
    }
  }
}