.social-nav{

  margin: 2em 0;
  text-align: center;
  justify-content: space-between;
  display: flex;

  &__item{
    font-size: 0.8em;
    font-weight: 900;

    display: inline-block;

    &_blue{
      color: blue;
    }
    &_aqua{
      color: aqua;
    }
  }
}