.social-nav{
  display: flex;
  justify-content: space-between;
  margin: 2em 0;

  &__item{
    font-size: 0.8em;
    font-weight: 900;
    &_blue{
      color: blue;
    }
    &_aqua{
      color: aqua;
    }
  }
}