.story-content{
  vertical-align: middle;

  display: flex;
  justify-content: space-between;


  &__image{
    min-height: 10em;
    vertical-align: middle;
    background-image: url(../images/announce-1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    width: 100%;


    @include ifparent('.story__content_text-image'){
      max-width:50%;
    }

  }

  &__text{
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    @include ifparent('.story__content_text-image'){
      max-width: 50%;
    }
  }
}