.stories{

  padding-top: 5em;
  padding-bottom: 2em;



  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -0.3em;
  }


  &__sort-button{
    position: relative;
    color: #808080;
    font-size: 0.7em;
    font-weight: 800;
    text-align: right;

  }


  &__announce{
    position: relative;
    width: 100%;
    min-height: 12em;
    padding: 0.3em;


    &_medium{
      flex: 0 0 50%;
      max-width: 50%;
    }

    &_small{
      flex: 0 0 35%;
      max-width: 35%;
    }

    &_big{
      flex: 0 0 65%;
      max-width: 65%;
    }

  }

}