.story-announce{

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  position:relative;
  width: auto;
  height: 100%;

  &__text{
    position: relative;
    padding: 1em;
    line-height: 1.8;
    z-index:10;
  }


  &__type{
    font-size: 0.8em;
    font-weight: 800;
  }

  &__title{
    font-size: 0.8em;
  }

  &__black-effect{
    opacity:0.3;
    background-color: #000000;
    position: absolute;

    width: 100%;
    height: 100%;
  }


}