.story-announce{
  position: relative;
  min-height: 12em;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  &__type{
    position: absolute;
    margin: 0 1em;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: 800;
  }

  &__title{
    font-size: 0.8em;
    position: absolute;
    margin: 2.5em 1em;
  }

  &__black-effect{
    opacity: 0.4;
    background-color: #000000;
    position: absolute;

    width: 100%;
    height: 100%;
  }


}