.story{
  text-align: center;
  padding-top: 6em;

  &__button-prev{
    transform: rotate(270deg);
    left: 0;
    top: 5em;
  }

  &__button-next{
    transform: rotate(90deg);
    right: 0;
    top: 5em;
  }


  &__content{
    &_text{

      text-align: left;
      max-width: 50%;
      margin: auto;
    }


  }

  &__type{
    font-weight: 900;
  }
  &__title{
    font-weight: bold;
    font-size: 1.5em;
    margin: 1.2em;
  }
}