.avtomat{
  position: relative;
  margin: 2em auto;
  max-width: em(400px);


  &__grip{
    position: absolute;

    right:em(27px);
    top: 45%;
  }


  &__main{
    background-image: url("../images/avtomat/avtomat.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: em(400px);
    height: em(528px);

  }

  &__message{
    width: em(300px);
    height: em(68px);
    background: #ffffff;
    position: absolute;
    top:  em(145px);
    left:  em(40px);
    text-align: center;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }


    .bulb{
      width: em(20px);
      height: em(20px);
      border-radius: 50%;
      background: #ffff75;
      position: absolute;

      &_1{
        top: em(-10px);
        left: em(-10px);
      }
      &_2{
        top: em(-10px);
        right: em(-10px);
      }
      &_3{
        bottom: em(-10px);
        left: em(-10px);
      }
      &_4{
        bottom: em(-10px);
        right: em(-10px);
      }

      &_on{
        box-shadow: 0 0 20px 7px rgba(255, 255, 58, 1);
        border: 0 solid rgba(255, 255, 104, 0.11);
      }
    }
  }

  &__slots{
    width: em(280px);
    height: em(135px);
    background: #c78037;
    position: absolute;
    top:  em(242px);
    left:  em(52px);
    overflow: hidden;
  }

  &__slot{

    display: inline-block;
    width: calc(100%/3);
    position: relative;
    height: 100%;
    border: 1px solid #333333;

    background-color: #c99757;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDI5ODRiIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNkMWNlYzAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAwMTYiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDI5YjRiIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MDIiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDI5YjRiIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MDEiLz48c3RvcCBzdG9wLWNvbG9yPSIjYmE2ZDI3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45MiIvPjxzdG9wIHN0b3AtY29sb3I9IiM5MzVjMTIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);

  }

  &_bottom{
  }
}