
.slot{




  &__image {
    //background-image: url(../images/avtomat/seven.png);
    transition: transform .2s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;


    &_seven{
      background-image: url(../images/avtomat/seven.png);
    }

    &_apple{
      background-image: url(../images/avtomat/Apple.png);
    }

    &_bell{
      background-image: url(../images/avtomat/Bell.png);
    }

  }

  .active{
    position: absolute;
    opacity: 1;
  }

  .next{
    position: absolute;
    //bottom: 100%;
    opacity: 0;
    transform: translateY(-100%);
  }

  .last{
    position: absolute;
    //top: 100%;
    opacity: 0;
    transform:translateY(100%);
  }
}

.slot__image.transform{

  transform: translateY(100%);
}