
.slot{

  .active{
    transform: translateY(0);
    opacity: 1 ;
  }

  .transform{
    transform: translateY(100%);
  }

  .next{
    opacity: 0;
    transform: translateY(-100%);
  }

  .hide{
    opacity: 0 !important;
  }


  &__image {
    //background-image: url(../images/avtomat/seven.png);
    transition: transform .2s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transform: translateY(100%);

    &_seven{
      background-image: url(../images/avtomat/seven.png);
    }

    &_apple{
      background-image: url(../images/avtomat/Apple.png);
    }

    &_bell{
      background-image: url(../images/avtomat/Bell.png);
    }

  }


}

