.layout {
    background: #000000;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.top-block{
    width: 100%;
    background: url(img/top.png) #000000 center no-repeat;
    height: 22em;
}

.logo{
    background: url(img/logo.png) transparent center 0.1em no-repeat;
}

.text {
    height: 10em;
    color:#ffffff;
    font-size: 14px;
    font-family: "TriviaSansBook";
    line-height: 1.571;
    text-align: left;
}

.text >td.title{
    text-align: center;
}

.text >td{
    padding: 0 6.5em;
    text-align: left;
}

.title{
    background: url(img/text-title.png) transparent center 0.7em no-repeat;
}

.image{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
}

.party{
    background: url(img/party.png) center no-repeat;

}
.flesh{
    background: url(img/flesh.png) center no-repeat;

}
.kabare{
    background: url(img/kabare.png) center no-repeat;
}

.social{
    white-space: nowrap;
}

.items{

}

body{
    margin:0;
}