.layout {
    background: #000000;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.top-block{
    width: 100%;
    background: url(img/top.png) #000000 center no-repeat;
    height: 22em;
}

.logo{
    background: url(img/logo.png) transparent center 0.1em no-repeat;
}

.logo-footer{
    background: url(img/crown.png) transparent center 0.1em no-repeat;
}

.text {
    height: auto;
    color:#ffffff;
    font-size: 14px;
    font-family: "TriviaSansBook";
    line-height: 1.571;
    text-align: left;
}

.text-center{
    text-align: center !important;
    margin-bottom: 1em !important;
}

.text >td.title{
    text-align: center;
}

.text >td{
    display: block;
    max-width: 25em;
    margin: 0 auto;
    text-align: left;
}

.title{
    background: url(img/text-title.png) transparent center 0.7em no-repeat;
}

.image{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
}

.party{
    background: url(img/party.png) center no-repeat;

}
.flesh{
    background: url(img/flesh.png) center no-repeat;

}
.kabare{
    background: url(img/kabare.png) center no-repeat;
}

.social{
    height: 3em;
    white-space: nowrap;
}

.social > td{
    display: flex;
    justify-content: space-between;
    max-width: 20em;
    margin: 0 auto;
}

.items{
    width: 30px;
    height: 30px;
}

.fb{
    background: url(img/fb.png) center no-repeat;
    background-size: contain;
}
.vk{
    background: url(img/vk.png) center no-repeat;
    background-size: contain;
}
.tw{
    background: url(img/tw.png) center no-repeat;
    background-size: contain;
}
.yt{
    background: url(img/yt.png) center no-repeat;
    background-size: contain;
}
.inst{
    background: url(img/inst.png) center no-repeat;
    background-size: contain;
}
.owl{
    background: url(img/owl.png) center no-repeat;
    background-size: contain;
}

a{
    color: #af966d;
    text-decoration: none;
}

body{
    margin:0;
}