table{
    border:0;
}

.layout {
    background: #FFFFFF;
    border-spacing: 0;
}

.content{
    background: #000000;
}



.text {
    text-align: left;
    font-family: sans-serif;
}

.text-center{
    text-align: center !important;
}

.text >td.title{
    text-align: center;
}

.text >td{
    display: block;
    width: 600px;
    text-align: left;
    color:#ffffff;
    font-size: 14px;
    line-height: 1.571;
}

.social > td{
    width: 600px;
}

a{
    color: #baa481;
    text-decoration: none;
}

body{
    margin:0;
}